h1 {
    font-family: sans-serif;
    font-style: italic;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: normal;

}

body {
    font-size: 16px;
}

.amarelo {
    background-color: yellow;
}

.vermelho {
    background-color: red;
}

.marrom {
    background-color: brown;
}